@charset "UTF-8";

/* ==================================================================
    html5doctor.com Reset Stylesheet v1.6.1
====================================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*==================================================================
	Default style
===================================================================*/
body {font-size:13px; -webkit-text-size-adjust: 100%; }
ol, ul { list-style: none; }
img { vertical-align:baseline; font-size:0; line-height: 0; }
table { empty-cells: show; }
a { /*\*/ overflow:hidden; /**/    -webkit-tap-highlight-color: rgba(0,0,0,0);}
a:hover, input:hover, .hover:hover { filter:alpha(opacity=70); opacity: 0.7; text-decoration:none; }

/* Pure v0.4.2
-----------------------------------------------------------*/
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}
input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="date"],input[type="month"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="week"],input[type="number"],input[type="search"],input[type="tel"],input[type="color"],select,textarea{padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input:not([type]){padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input[type="color"]{padding:.2em .5em}input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,select:focus,textarea:focus{outline:0;outline:thin dotted \9;border-color:#129fea}input:not([type]):focus{outline:0;outline:thin dotted \9;border-color:#129fea}input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus{outline:thin dotted #333;outline:1px auto #129fea}input[type="text"][disabled],input[type="password"][disabled],input[type="email"][disabled],input[type="url"][disabled],input[type="date"][disabled],input[type="month"][disabled],input[type="time"][disabled],input[type="datetime"][disabled],input[type="datetime-local"][disabled],input[type="week"][disabled],input[type="number"][disabled],input[type="search"][disabled],input[type="tel"][disabled],input[type="color"][disabled],select[disabled],textarea[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}input:not([type])[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}input[readonly],select[readonly],textarea[readonly]{background:#eee;color:#777;border-color:#ccc}input:focus:invalid,textarea:focus:invalid,select:focus:invalid{color:#b94a48;border-color:#ee5f5b}input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus{border-color:#e9322d}input[type="file"]:focus:invalid:focus,input[type="radio"]:focus:invalid:focus,input[type="checkbox"]:focus:invalid:focus{outline-color:#e9322d}select{border:1px solid #ccc;background-color:white}select[multiple]{height:auto}label{margin:.5em 0 .2em}fieldset{margin:0;padding:.35em 0 .75em;border:0}legend{display:block;width:100%;padding:.3em 0;margin-bottom:.3em;color:#333;border-bottom:1px solid #e5e5e5}

input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="date"],input[type="month"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="week"],input[type="number"],input[type="search"],input[type="tel"],input[type="color"],select,textarea {-webkit-appearance:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{background-color:#f5f5f5;*background-color:#e6e6e6;background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(top,#fff,#e6e6e6);background-image:linear-gradient(to bottom,#fff,#e6e6e6);border:1px solid #ccc;padding:5px 10px;border-radius:5px;line-height:1.5}

/* ==================================================================
    Common style
====================================================================*/

/* shortcut
-----------------------------------------------------------*/
.left {	text-align: left; }
.right { text-align: right; }
.center	{ text-align: center; }
.middle { vertical-align: middle; }

.fleft { float: left; }
.fright { float: right; }

.bold {font-weight: bold;}
.blink { text-decoration:blink; }
.underline { text-decoration:underline; }

.relative {	position:relative;}
.absolute {	position:absolute;}

.disc{ padding-left:2em;list-style:disc; }
.circle { padding-left:2em;list-style:circle; }
.decimal { padding-left:2.4em;list-style:decimal; }

.inlineblock { display:inline-block; }
.auto {margin-left:auto; margin-right:auto;}
.fixed { table-layout:fixed; }
.ohidden {	overflow: hidden;	_zoom: 1;}

/* shortcut(important)
-----------------------------------------------------------*/
.inline { display:inline !important; }
.block { display:block !important; }
.clear{	clear:both !important; }
.none { display:none !important; }
.fnone { float:none !important; }
.tnone { text-decoration: none !important; }

/* style
-----------------------------------------------------------*/
.clearfix { zoom:1; }
.clearfix:after{ content: ""; display: block; clear: both;}

.lefttop { position:absolute; left:0; top:0; }
.leftbottom { position:absolute; left:0; bottom:0; }
.righttop { position:absolute; right:0; top:0; }
.rightbottom { position:absolute; right:0; bottom:0; }

.vcenter { display: table; height: 100%; z-index: 500; top: 0; }
.vcenter .vinner { display: table-cell; vertical-align: middle;}
.vcenter .vbox { position: relative; top: 0; left: 0; }

/* style(important)
-----------------------------------------------------------*/
.bt0, .bv0, .ba0 { border-top-width:     0 !important; }
.br0, .bh0, .ba0 { border-right-width:   0 !important; }
.bb0, .bv0, .ba0 { border-bottom-width:  0 !important; }
.bl0, .bh0, .ba0 { border-left-width:    0 !important; }
.bt1, .bv1, .ba1 { border-top-width:     1px !important; }
.br1, .bh1, .ba1 { border-right-width:   1px !important; }
.bb1, .bv1, .ba1 { border-bottom-width:  1px !important; }
.bl1, .bh1, .ba1 { border-left-width:    1px !important; }
.bt2, .bv2, .ba2 { border-top-width:     2px !important; }
.br2, .bh2, .ba2 { border-right-width:   2px !important; }
.bb2, .bv2, .ba2 { border-bottom-width:  2px !important; }
.bl2, .bh2, .ba2 { border-left-width:    2px !important; }
.bt3, .bv3, .ba3 { border-top-width:     3px !important; }
.br3, .bh3, .ba3 { border-right-width:   3px !important; }
.bb3, .bv3, .ba3 { border-bottom-width:  3px !important; }
.bl3, .bh3, .ba3 { border-left-width:    3px !important; }
.bt4, .bv4, .ba4 { border-top-width:     4px !important; }
.br4, .bh4, .ba4 { border-right-width:   4px !important; }
.bb4, .bv4, .ba4 { border-bottom-width:  4px !important; }
.bl4, .bh4, .ba4 { border-left-width:    4px !important; }
.bt5, .bv5, .ba5 { border-top-width:     5px !important; }
.br5, .bh5, .ba5 { border-right-width:   5px !important; }
.bb5, .bv5, .ba5 { border-bottom-width:  5px !important; }
.bl5, .bh5, .ba5 { border-left-width:    5px !important; }

.o0  { filter:alpha(opacity=0) !important;   opacity: 0 !important;   }
.o1  { filter:alpha(opacity=10) !important;  opacity: 0.1 !important; }
.o2  { filter:alpha(opacity=20) !important;  opacity: 0.2 !important; }
.o3  { filter:alpha(opacity=30) !important;  opacity: 0.3 !important; }
.o4  { filter:alpha(opacity=40) !important;  opacity: 0.4 !important; }
.o5  { filter:alpha(opacity=50) !important;  opacity: 0.5 !important; }
.o6  { filter:alpha(opacity=60) !important;  opacity: 0.6 !important; }
.o7  { filter:alpha(opacity=70) !important;  opacity: 0.7 !important; }
.o8  { filter:alpha(opacity=80) !important;  opacity: 0.8 !important; }
.o9  { filter:alpha(opacity=90) !important;  opacity: 0.9 !important; }
.o10 { filter:alpha(opacity=100) !important; opacity: 1 !important;   }

.f10 { font-size:10px !important; }
.f11 { font-size:11px !important; }
.f12 { font-size:12px !important; }
.f13 { font-size:13px !important; }
.f14 { font-size:14px !important; }
.f15 { font-size:15px !important; }
.f16 { font-size:16px !important; }
.f17 { font-size:17px !important; }
.f18 { font-size:18px !important; }
.f19 { font-size:19px !important; }
.f20 { font-size:20px !important; }
.f21 { font-size:21px !important; }
.f22 { font-size:22px !important; }
.f23 { font-size:23px !important; }
.f24 { font-size:24px !important; }
.f25 { font-size:25px !important; }
.f26 { font-size:26px !important; }
.f27 { font-size:27px !important; }
.f28 { font-size:28px !important; }
.f29 { font-size:29px !important; }
.f30 { font-size:30px !important; }
.f31 { font-size:31px !important; }
.f32 { font-size:32px !important; }
.f33 { font-size:33px !important; }
.f34 { font-size:34px !important; }
.f35 { font-size:35px !important; }
.f36 { font-size:36px !important; }
.f37 { font-size:37px !important; }
.f38 { font-size:38px !important; }
.f39 { font-size:39px !important; }
.f40 { font-size:40px !important; }
.f41 { font-size:41px !important; }
.f42 { font-size:42px !important; }
.f43 { font-size:43px !important; }
.f44 { font-size:44px !important; }
.f45 { font-size:45px !important; }
.f46 { font-size:46px !important; }
.f47 { font-size:47px !important; }
.f48 { font-size:48px !important; }
.f49 { font-size:49px !important; }
.f50 { font-size:50px !important; }

.l0  { line-height:0 !important; }
.l1  { line-height:1 !important; }
.l11 { line-height:1.1 !important; }
.l12 { line-height:1.2 !important; }
.l13 { line-height:1.3 !important; }
.l14 { line-height:1.4 !important; }
.l15 { line-height:1.5 !important; }
.l16 { line-height:1.6 !important; }
.l17 { line-height:1.7 !important; }
.l18 { line-height:1.8 !important; }
.l19 { line-height:1.9 !important; }
.l20 { line-height:2 !important; }

.w10 { width:10% !important; }
.w20 { width:20% !important; }
.w30 { width:30% !important; }
.w40 { width:40% !important; }
.w50 { width:50% !important; }
.w60 { width:60% !important; }
.w70 { width:70% !important; }
.w80 { width:80% !important; }
.w90 { width:90% !important; }
.w100 {width:100% !important; }

/* Fibonacci number */
.pt0, .pv0, .pa0       { padding-top:     0 !important; }
.pr0, .ph0, .pa0       { padding-right:   0 !important; }
.pb0, .pv0, .pa0       { padding-bottom:  0 !important; }
.pl0, .ph0, .pa0       { padding-left:    0 !important; }
.pt3, .pv3, .pa3       { padding-top:    3px !important; }
.pr3, .ph3, .pa3       { padding-right:  3px !important; }
.pb3, .pv3, .pa3       { padding-bottom: 3px !important; }
.pl3, .ph3, .pa3       { padding-left:   3px !important; }
.pt5, .pv5, .pa5       { padding-top:    5px !important; }
.pr5, .ph5, .pa5       { padding-right:  5px !important; }
.pb5, .pv5, .pa5       { padding-bottom: 5px !important; }
.pl5, .ph5, .pa5       { padding-left:   5px !important; }
.pt8, .pv8, .pa8       { padding-top:    8px !important; }
.pr8, .ph8, .pa8       { padding-right:  8px !important; }
.pb8, .pv8, .pa8       { padding-bottom: 8px !important; }
.pl8, .ph8, .pa8       { padding-left:   8px !important; }
.pt13, .pv13, .pa13    { padding-top:    13px !important; }
.pr13, .ph13, .pa13    { padding-right:  13px !important; }
.pb13, .pv13, .pa13    { padding-bottom: 13px !important; }
.pl13, .ph13, .pa13    { padding-left:   13px !important; }
.pt21, .pv21, .pa21    { padding-top:    21px !important; }
.pr21, .ph21, .pa21    { padding-right:  21px !important; }
.pb21, .pv21, .pa21    { padding-bottom: 21px !important; }
.pl21, .ph21, .pa21    { padding-left:   21px !important; }
.pt34, .pv34, .pa34    { padding-top:    34px !important; }
.pr34, .ph34, .pa34    { padding-right:  34px !important; }
.pb34, .pv34, .pa34    { padding-bottom: 34px !important; }
.pl34, .ph34, .pa34    { padding-left:   34px !important; }
.pt55, .pv55, .pa55    { padding-top:    55px !important; }
.pr55, .ph55, .pa55    { padding-right:  55px !important; }
.pb55, .pv55, .pa55    { padding-bottom: 55px !important; }
.pl55, .ph55, .pa55    { padding-left:   55px !important; }
.pt89, .pv89, .pa89    { padding-top:    89px !important; }
.pr89, .ph89, .pa89    { padding-right:  89px !important; }
.pb89, .pv89, .pa89    { padding-bottom: 89px !important; }
.pl89, .ph89, .pa89    { padding-left:   89px !important; }
.pt144, .pv144, .pa144 { padding-top:     144px !important; }
.pr144, .ph144, .pa144 { padding-right:   144px !important; }
.pb144, .pv144, .pa144 { padding-bottom:  144px !important; }
.pl144, .ph144, .pa144 { padding-left:    144px !important; }
.pt233, .pv233, .pa233 { padding-top:     233px !important; }
.pr233, .ph233, .pa233 { padding-right:   233px !important; }
.pb233, .pv233, .pa233 { padding-bottom:  233px !important; }
.pl233, .ph233, .pa233 { padding-left:    233px !important; }
.pt377, .pv377, .pa377 { padding-top:     377px !important; }
.pr377, .ph377, .pa377 { padding-right:   377px !important; }
.pb377, .pv377, .pa377 { padding-bottom:  377px !important; }
.pl377, .ph377, .pa377 { padding-left:    377px !important; }
.pt610, .pv610, .pa610 { padding-top:     610px !important; }
.pr610, .ph610, .pa610 { padding-right:   610px !important; }
.pb610, .pv610, .pa610 { padding-bottom:  610px !important; }
.pl610, .ph610, .pa610 { padding-left:    610px !important; }
.mt0, .mv0, .ma0       { margin-top:      0 !important; }
.mr0, .mh0, .ma0       { margin-right:    0 !important; }
.mb0, .mv0, .ma0       { margin-bottom:   0 !important; }
.ml0, .mh0, .ma0       { margin-left:     0 !important; }
.mt3, .mv3, .ma3 	   { margin-top:      3px !important; }
.mr3, .mh3, .ma3 	   { margin-right:    3px !important; }
.mb3, .mv3, .ma3 	   { margin-bottom:   3px !important; }
.ml3, .mh3, .ma3       { margin-left:     3px !important; }
.mt5, .mv5, .ma5 	   { margin-top:      5px !important; }
.mr5, .mh5, .ma5 	   { margin-right:    5px !important; }
.mb5, .mv5, .ma5 	   { margin-bottom:   5px !important; }
.ml5, .mh5, .ma5       { margin-left:     5px !important; }
.mt8, .mv8, .ma8 	   { margin-top:      8px !important; }
.mr8, .mh8, .ma8 	   { margin-right:    8px !important; }
.mb8, .mv8, .ma8 	   { margin-bottom:   8px !important; }
.ml8, .mh8, .ma8       { margin-left:     8px !important; }
.mt13, .mv13, .ma13    { margin-top:     13px !important; }
.mr13, .mh13, .ma13    { margin-right:   13px !important; }
.mb13, .mv13, .ma13    { margin-bottom:  13px !important; }
.ml13, .mh13, .ma13    { margin-left:    13px !important; }
.mt21, .mv21, .ma21    { margin-top:     21px !important; }
.mr21, .mh21, .ma21    { margin-right:   21px !important; }
.mb21, .mv21, .ma21    { margin-bottom:  21px !important; }
.ml21, .mh21, .ma21    { margin-left:    21px !important; }
.mt34, .mv34, .ma34    { margin-top:     34px !important; }
.mr34, .mh34, .ma34    { margin-right:   34px !important; }
.mb34, .mv34, .ma34    { margin-bottom:  34px !important; }
.ml34, .mh34, .ma34    { margin-left:    34px !important; }
.mt55, .mv55, .ma55    { margin-top:     55px !important; }
.mr55, .mh55, .ma55    { margin-right:   55px !important; }
.mb55, .mv55, .ma55    { margin-bottom:  55px !important; }
.ml55, .mh55, .ma55    { margin-left:    55px !important; }
.mt89, .mv89, .ma89    { margin-top:     89px !important; }
.mr89, .mh89, .ma89    { margin-right:   89px !important; }
.mb89, .mv89, .ma89    { margin-bottom:  89px !important; }
.ml89, .mh89, .ma89    { margin-left:    89px !important; }
.mt144, .mv144, .ma144 { margin-top:     144px !important; }
.mr144, .mh144, .ma144 { margin-right:   144px !important; }
.mb144, .mv144, .ma144 { margin-bottom:  144px !important; }
.ml144, .mh144, .ma144 { margin-left:    144px !important; }
.mt233, .mv233, .ma233 { margin-top:     233px !important; }
.mr233, .mh233, .ma233 { margin-right:   233px !important; }
.mb233, .mv233, .ma233 { margin-bottom:  233px !important; }
.ml233, .mh233, .ma233 { margin-left:    233px !important; }
.mt377, .mv377, .ma377 { margin-top:     377px !important; }
.mr377, .mh377, .ma377 { margin-right:   377px !important; }
.mb377, .mv377, .ma377 { margin-bottom:  377px !important; }
.ml377, .mh377, .ma377 { margin-left:    377px !important; }
.mt610, .mv610, .ma610 { margin-top:     610px !important; }
.mr610, .mh610, .ma610 { margin-right:   610px !important; }
.mb610, .mv610, .ma610 { margin-bottom:  610px !important; }
.ml610, .mh610, .ma610 { margin-left:    610px !important; }
.rt0, .rv0, .ra0     { border-top-left-radius: 0 !important;       border-top-right-radius: 0 !important; }
.rr0, .rh0, .ra0     { border-top-right-radius: 0 !important;      border-bottom-right-radius: 0 !important; }
.rb0, .rv0, .ra0     { border-bottom-left-radius:  0 !important;   border-bottom-right-radius: 0 !important; }
.rl0, .rh0, .ra0     { border-top-left-radius: 0 !important;       border-bottom-left-radius: 0 !important; }
.rt3, .rv3, .ra3     { border-top-left-radius: 3px !important;     border-top-right-radius: 3px !important; }
.rr3, .rh3, .ra3     { border-top-right-radius: 3px !important;    border-bottom-right-radius: 3px !important; }
.rb3, .rv3, .ra3     { border-bottom-left-radius: 3px !important;  border-bottom-right-radius: 3px !important; }
.rl3, .rh3, .ra3     { border-top-left-radius: 3px !important;     border-bottom-left-radius: 3px !important; }
.rt5, .rv5, .ra5     { border-top-left-radius: 5px !important;     border-top-right-radius: 5px !important; }
.rr5, .rh5, .ra5     { border-top-right-radius: 5px !important;    border-bottom-right-radius: 5px !important; }
.rb5, .rv5, .ra5     { border-bottom-left-radius: 5px !important;  border-bottom-right-radius: 5px !important; }
.rl5, .rh5, .ra5     { border-top-left-radius: 5px !important;     border-bottom-left-radius: 5px !important; }
.rt8, .rv8, .ra8     { border-top-left-radius: 8px !important;     border-top-right-radius: 8px !important; }
.rr8, .rh8, .ra8     { border-top-right-radius: 8px !important;    border-bottom-right-radius: 8px !important; }
.rb8, .rv8, .ra8     { border-bottom-left-radius:  8px !important; border-bottom-right-radius: 8px !important; }
.rl8, .rh8, .ra8     { border-top-left-radius: 8px !important;     border-bottom-left-radius: 8px !important; }
.rt13, .rv13, .ra13  { border-top-left-radius: 13px !important;    border-top-right-radius: 13px !important; }
.rr13, .rh13, .ra13  { border-top-right-radius: 13px !important;   border-bottom-right-radius: 13px !important; }
.rb13, .rv13, .ra13  { border-bottom-left-radius: 13px !important; border-bottom-right-radius: 13px !important; }
.rl13, .rh13, .ra13  { border-top-left-radius: 13px !important;    border-bottom-left-radius: 13px !important; }
.rt21, .rv21, .ra21  { border-top-left-radius: 21px !important;    border-top-right-radius: 21px !important; }
.rr21, .rh21, .ra21  { border-top-right-radius: 21px !important;   border-bottom-right-radius: 21px !important; }
.rb21, .rv21, .ra21  { border-bottom-left-radius: 21px !important; border-bottom-right-radius: 21px !important; }
.rl21, .rh21, .ra21  { border-top-left-radius: 21px !important;    border-bottom-left-radius: 21px !important; }
.rt34, .rv34, .ra34  { border-top-left-radius: 34px !important;    border-top-right-radius: 34px !important; }
.rr34, .rh34, .ra34  { border-top-right-radius: 34px !important;   border-bottom-right-radius: 34px !important; }
.rb34, .rv34, .ra34  { border-bottom-left-radius: 34px !important; border-bottom-right-radius: 34px !important; }
.rl34, .rh34, .ra34  { border-top-left-radius: 34px !important;    border-bottom-left-radius: 34px !important; }

/* Multiples of 5 */
.pt10, .pv10, .pa10    { padding-top:    10px !important; }
.pr10, .ph10, .pa10    { padding-right:  10px !important; }
.pb10, .pv10, .pa10    { padding-bottom: 10px !important; }
.pl10, .ph10, .pa10    { padding-left:   10px !important; }
.pt15, .pv15, .pa15    { padding-top:    15px !important; }
.pr15, .ph15, .pa15    { padding-right:  15px !important; }
.pb15, .pv15, .pa15    { padding-bottom: 15px !important; }
.pl15, .ph15, .pa15    { padding-left:   15px !important; }
.pt20, .pv20, .pa20    { padding-top:    20px !important; }
.pr20, .ph20, .pa20    { padding-right:  20px !important; }
.pb20, .pv20, .pa20    { padding-bottom: 20px !important; }
.pl20, .ph20, .pa20    { padding-left:   20px !important; }
.pt25, .pv25, .pa25    { padding-top:    25px !important; }
.pr25, .ph25, .pa25    { padding-right:  25px !important; }
.pb25, .pv25, .pa25    { padding-bottom: 25px !important; }
.pl25, .ph25, .pa25    { padding-left:   25px !important; }
.pt30, .pv30, .pa30    { padding-top:    30px !important; }
.pr30, .ph30, .pa30    { padding-right:  30px !important; }
.pb30, .pv30, .pa30    { padding-bottom: 30px !important; }
.pl30, .ph30, .pa30    { padding-left:   30px !important; }
.mt10, .mv10, .ma10    { margin-top:    10px !important; }
.mr10, .mh10, .ma10    { margin-right:  10px !important; }
.mb10, .mv10, .ma10    { margin-bottom: 10px !important; }
.ml10, .mh10, .ma10    { margin-left:   10px !important; }
.mt15, .mv15, .ma15    { margin-top:    15px !important; }
.mr15, .mh15, .ma15    { margin-right:  15px !important; }
.mb15, .mv15, .ma15    { margin-bottom: 15px !important; }
.ml15, .mh15, .ma15    { margin-left:   15px !important; }
.mt20, .mv20, .ma20    { margin-top:    20px !important; }
.mr20, .mh20, .ma20    { margin-right:  20px !important; }
.mb20, .mv20, .ma20    { margin-bottom: 20px !important; }
.ml20, .mh20, .ma20    { margin-left:   20px !important; }
.mt25, .mv25, .ma25    { margin-top:    25px !important; }
.mr25, .mh25, .ma25    { margin-right:  25px !important; }
.mb25, .mv25, .ma25    { margin-bottom: 25px !important; }
.ml25, .mh25, .ma25    { margin-left:   25px !important; }
.mt30, .mv30, .ma30    { margin-top:    30px !important; }
.mr30, .mh30, .ma30    { margin-right:  30px !important; }
.mb30, .mv30, .ma30    { margin-bottom: 30px !important; }
.ml30, .mh30, .ma30    { margin-left:   30px !important; }
.rt10, .rv10, .ra10  { border-top-left-radius: 10px !important;    border-top-right-radius: 10px !important; }
.rr10, .rh10, .ra10  { border-top-right-radius: 10px !important;   border-bottom-right-radius: 10px !important; }
.rb10, .rv10, .ra10  { border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; }
.rl10, .rh10, .ra10  { border-top-left-radius: 10px !important;    border-bottom-left-radius: 10px !important; }
.rt15, .rv15, .ra15  { border-top-left-radius: 15px !important;    border-top-right-radius: 15px !important; }
.rr15, .rh15, .ra15  { border-top-right-radius: 15px !important;   border-bottom-right-radius: 15px !important; }
.rb15, .rv15, .ra15  { border-bottom-left-radius: 15px !important; border-bottom-right-radius: 15px !important; }
.rl15, .rh15, .ra15  { border-top-left-radius: 15px !important;    border-bottom-left-radius: 15px !important; }
.rt20, .rv20, .ra20  { border-top-left-radius: 20px !important;    border-top-right-radius: 20px !important; }
.rr20, .rh20, .ra20  { border-top-right-radius: 20px !important;   border-bottom-right-radius: 20px !important; }
.rb20, .rv20, .ra20  { border-bottom-left-radius: 20px !important; border-bottom-right-radius: 20px !important; }
.rl20, .rh20, .ra20  { border-top-left-radius: 20px !important;    border-bottom-left-radius: 20px !important; }
.rt25, .rv25, .ra25  { border-top-left-radius: 25px !important;    border-top-right-radius: 25px !important; }
.rr25, .rh25, .ra25  { border-top-right-radius: 25px !important;   border-bottom-right-radius: 25px !important; }
.rb25, .rv25, .ra25  { border-bottom-left-radius: 25px !important; border-bottom-right-radius: 25px !important; }
.rl25, .rh25, .ra25  { border-top-left-radius: 25px !important;    border-bottom-left-radius: 25px !important; }
.rt30, .rv30, .ra30  { border-top-left-radius: 30px !important;    border-top-right-radius: 30px !important; }
.rr30, .rh30, .ra30  { border-top-right-radius: 30px !important;   border-bottom-right-radius: 30px !important; }
.rb30, .rv30, .ra30  { border-bottom-left-radius: 30px !important; border-bottom-right-radius: 30px !important; }
.rl30, .rh30, .ra30  { border-top-left-radius: 30px !important;    border-bottom-left-radius: 30px !important; }
